[Desktop Entry]
Type=Application
Name=Beeper
Icon=/apps/AppImage/Beeper/icon.png
Exec=/apps/AppImage/Beeper/Beeper.AppImage
Categories=Social
Terminal=false
